.container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
}

.button_accept {
    background-color: var(--btn-accept-color);
    border: none;
    border-radius: 8px;
    box-shadow: 1px 20px 15px var(--btn-accept-shadow-color);
    color: var(--option-text-color);
    cursor: pointer;
    font-family: var(--font);
    font-size: 15px;
    font-weight: 700;
    padding: 14px;
}

.button_accept:hover {
    background-color: var(--btn-accept-color-hover);
    transition: all 0.2s linear;
}

.container_button {
    color: var(--btn-cancel-color);
    font-size: 15px;
    font-weight: 900;
    margin-top: 30px;
}

.button_cancel:hover {
    color: var(--btn-cancel-color-hover);
    cursor: pointer;
    transition: all 0.2s linear;
}