.container {
    text-align: center;
}

.title {
    color: var(--title-color);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;
}

.text {
    color: var(--text-color);
    font-size: 17px;
    line-height: 1.7em;
    margin-bottom: 20px;
    padding: 0 12px;
}